# Goreleaser
/dist/
/.github/release-notes.md
/.github/crds.yaml
/.github/ui.tar.gz

# Build
/clustercode
*.out

# Docs
/.cache/
/.public/
/node_modules/

# work
/.work/

# Media
/data/intermediate/**
/data/source/**
/data/target/**
