*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven
target/

# gradle
build/
.gradle/
out/

# Microsoft opened files.
~$$*.~*


# intellij
*.iws
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
desktop.ini
.idea/*.iml

.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/runConfigurations

# project
/config/
/tmp/
/input/
/output/
/nginx

# NPM, Webpack
node_modules/
dist/
/src/frontend/test/unit/coverage/
package-lock.json
