# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# VSCode configs
.vscode/

# IntelliJ project files
.idea
*.iml
out
gen### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
dist/
clustercode-crd*.yaml
clustercode
testbin/
node_modules/
e2e/debug
__debug_bin
