<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="clustercode">
    <Appenders>
        <Console name="Sysout" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %c{1} - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
        </Console>
        <Console name="Syserr" target="SYSTEM_ERR">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %c{1} - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" />
        </Console>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %logger{36} - [%t] - %msg%n"/>-->
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="${env:CC_LOG_LEVEL_JETTY:-info}" additivity="false">
            <AppenderRef ref="Sysout"/>
            <AppenderRef ref="Syserr"/>
        </Logger>
        <Root level="${env:CC_LOG_LEVEL_CORE:-info}" additivity="false">
            <AppenderRef ref="Sysout"/>
            <AppenderRef ref="Syserr"/>
        </Root>
    </Loggers>
</Configuration>
