<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="clustercode">
    <Appenders>
        <Console name="Sysout" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %logger{1.1.} - [%t] - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
        </Console>
        <Console name="Syserr" target="SYSTEM_ERR">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level - %logger{1.1.} - [%t] - %msg%n}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.jgroups" level="info" additivity="false">
            <AppenderRef ref="Sysout"/>
            <AppenderRef ref="Syserr"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="info" additivity="false">
            <AppenderRef ref="Sysout"/>
            <AppenderRef ref="Syserr"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Sysout"/>
            <AppenderRef ref="Syserr"/>
        </Root>
    </Loggers>
</Configuration>
