---
apiVersion: clustercode.github.io/v1alpha1
kind: Blueprint
metadata:
  name: test-blueprint
spec:
  storage:
    sourcePvc:
      claimName: source
      subPath: source
    intermediatePvc:
      claimName: intermediate
      subPath: intermediate
    targetPvc:
      claimName: target
      subPath: target
  scan:
    schedule: "*/1 * * * *"
    mediaFileExtensions:
      - mp4
  taskConcurrencyStrategy:
    concurrentCountStrategy:
      maxCount: 1
  cleanup:
    podTemplate:
      containers:
        - name: clustercode
          imagePullPolicy: IfNotPresent
  encode:
    podTemplate:
      containers:
        - name: clustercode
          imagePullPolicy: IfNotPresent
    sliceSize: 1
    splitCommandArgs:
      - -y
      - -hide_banner
      - -nostats
      - -i
      - ${INPUT}
      - -c
      - copy
      - -map
      - "0"
      - -segment_time
      - ${SLICE_SIZE}
      - -f
      - segment
      - ${OUTPUT}
    transcodeCommandArgs:
      - -y
      - -hide_banner
      - -nostats
      - -i
      - ${INPUT}
      - -c:v
      - copy
      - -c:a
      - copy
      - ${OUTPUT}
    mergeCommandArgs:
      - -y
      - -hide_banner
      - -nostats
      - -f
      - concat
      - -safe
      - "0"
      - -i
      - ${INPUT}
      - -c
      - copy
      - ${OUTPUT}
