<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="net.chrigel.clustercode">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{White} %highlight{%-5level} - %logger{36} - [%t] - %msg%n"/>
            <MarkerFilter marker="StateMachine" onMatch="DENY" onMismatch="NEUTRAL"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.jgroups" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.jgroups.protocols" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.squirrelframework.foundation.util" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.squirrelframework.foundation.fsm.impl.AbstractExecutionService" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>